@tailwind base;
@tailwind utilities;

.WelcomeImg {
  text-align: center;
  background-color: beige;
  padding-bottom: 10px;
}

.hero {
  padding-top: 80px;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.ImageContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageContainer img {
  width: 100%;
  max-width: 1300px;
  height: auto;
  object-fit: contain;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.ButtonContainer a {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 250px;
  height: 40px;
}

.ButtonContainer a {
  background: #4c9aff;
  color: #333333;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.OffreContainer1 {
  padding-bottom: 30px;
  background-color: #F0F8FF
  ;
}


.OffreContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  margin-top: 25px;
  gap: 0;
  margin-bottom: 20px;
}

.welcome-offer {
  border-radius: 20px;
  width: 24%;
  background-color: #7FFFD4 !important;
  cursor: pointer;
}

.offer-link {
  text-decoration: none;
  color: inherit;
}

.offer-image {
  width: 100%;
  height: 320px;
  object-fit: contain; 
  overflow-clip-margin: content-box;
  overflow: clip;
  display: block; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.offer-details {
  padding: 22px;
  text-align: left;
}

.offer-title {
  margin: 10px 0;
  color: #000000;
  font-size: 23px;
  text-transform: uppercase;
}

.offer-description {
  color: #6d6d6d;
  font-size: 14px;
  margin-bottom: 20px;
}

.offer-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #000000; /* example button color */
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  transition: background-color 0.3s;
}

.offer-type {
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
}

.NouveautContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 80%;
  margin: auto;
}

.NouveautContainer h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  color: #000000;
  font-weight: 800;
}
.OffreContainer1 h2{
  padding-top: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  color: #0a0101;
  font-weight: 700;

}


.ComitementContainer1 h2 {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
}

.ComitementContainer1 {
  background-color: #000000;
}

.ComitementContainer {
  padding-top: 20px;
  padding-bottom: 30px;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
