/* General Dashboard Layout */
.dashboard {
  display: flex;
  height: 100%;
  min-height: 100vh;
}

/* Sidebar Styling */
.sidebar {
  width: 250px;
  background-color: #97d9cb;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
}

.sidebar-logo {
  width: 80%; /* Adjust width as necessary */
  height: auto;
  margin-bottom: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Ensure the list takes the full width */
}

.sidebar li {
  padding: 15px 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center; /* Center the text horizontally */
}

.sidebar li:hover,
.sidebar li.active {
  background-color: white;
  color: #62d8c8;
}

/* Main Content Styling */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.main-content h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-size: 28px;
}

/* Card Styling */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 150px; /* Add margin-top to move the cards down */
}

.card {
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover,
.card:focus {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #2caa97;
}

.card-value {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
