.footer-container {
    background: linear-gradient(to right, #97d9cb, #17625d);
    color: #fff;
    padding: 10px 0;
    left: 0;
    right: 0;
}

.footer-container {
    width: 100%;
    margin: 0;
    display: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
}
.footer-row {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 20%;
    padding: 5px;
}
.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.footer-column h3 {
    width: fit-content;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.footer-column ul {
    padding: 0;
    margin: 0;
}

 ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

 ul li a {
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
    cursor: pointer;
}
ul li a:hover {
    color: blue; 
}
.social-icons {
    display: flex;
    justify-content: flex-start;
}

.social-icons .fab {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    color: #ece5e5;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
}

hr {
    width: 90%;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.hr1 {
    width: 70%;
    border-bottom: 1px solid #f0e9e9;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}
.p1 {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    font-size: 25px;
    color: #0f1616;
}